{
  "name": "nilsdannemann.local",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/_compass.scss",
      "imports": [
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_utilities.scss",
        "assets/sass/compass/_typography.scss",
        "assets/sass/compass/_css3.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss",
        "assets/sass/compass/utilities/_color.scss",
        "assets/sass/compass/utilities/_general.scss",
        "assets/sass/compass/utilities/_sprites.scss",
        "assets/sass/compass/utilities/_tables.scss",
        "assets/sass/compass/typography/_links.scss",
        "assets/sass/compass/typography/_lists.scss",
        "assets/sass/compass/typography/_text.scss",
        "assets/sass/compass/typography/_vertical_rhythm.scss",
        "assets/sass/compass/css3/_border-radius.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/css3/_opacity.scss",
        "assets/sass/compass/css3/_box-shadow.scss",
        "assets/sass/compass/css3/_text-shadow.scss",
        "assets/sass/compass/css3/_columns.scss",
        "assets/sass/compass/css3/_box-sizing.scss",
        "assets/sass/compass/css3/_box.scss",
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-clip.scss",
        "assets/sass/compass/css3/_background-origin.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/css3/_font-face.scss",
        "assets/sass/compass/css3/_transform.scss",
        "assets/sass/compass/css3/_transition.scss",
        "assets/sass/compass/css3/_appearance.scss",
        "assets/sass/compass/css3/_regions.scss",
        "assets/sass/compass/css3/_hyphenation.scss",
        "assets/sass/compass/css3/_filter.scss",
        "assets/sass/compass/css3/_pie.scss",
        "assets/sass/compass/css3/_user-interface.scss",
        "assets/sass/compass/css3/_flexbox.scss",
        "assets/sass/compass/utilities/color/_contrast.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/utilities/general/_tag-cloud.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/utilities/general/_min.scss",
        "assets/sass/compass/utilities/sprites/_base.scss",
        "assets/sass/compass/utilities/sprites/_sprite-img.scss",
        "assets/sass/compass/utilities/tables/_alternating-rows-and-columns.scss",
        "assets/sass/compass/utilities/tables/_borders.scss",
        "assets/sass/compass/utilities/tables/_scaffolding.scss",
        "assets/sass/compass/typography/links/_hover-link.scss",
        "assets/sass/compass/typography/links/_link-colors.scss",
        "assets/sass/compass/typography/links/_unstyled-link.scss",
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_inline-list.scss",
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/typography/text/_nowrap.scss",
        "assets/sass/compass/typography/text/_replacement.scss",
        "assets/sass/compass/typography/text/_force-wrap.scss",
        "assets/sass/compass/layout/_grid-background.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/reset/_utilities.scss"
      ]
    },
    {
      "path": "assets/sass/style.scss",
      "imports": [
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_utilities.scss",
        "assets/sass/compass/_typography.scss",
        "assets/sass/compass/_css3.scss",
        "assets/sass/variables.scss",
        "assets/sass/base/_hfc-relay-core-helpers.scss",
        "assets/sass/base/_hfc-relay-core-transition.scss",
        "assets/sass/base/_hfc-relay-ui-elements-arrow.scss",
        "assets/sass/base/_hfc-relay-ui-elements-button.scss",
        "assets/sass/base/_hfc-relay-grid-functions.scss",
        "assets/sass/base/_hfc-relay-grid.scss",
        "assets/sass/base/_hfc-relay-grid-column.scss",
        "assets/sass/base/_hfc-relay-grid-container.scss",
        "assets/sass/base/_hfc-relay-grid-queries.scss",
        "assets/sass/utilities/helpers.scss",
        "assets/sass/utilities/grid.scss",
        "assets/sass/base/typography.scss",
        "assets/sass/components/button.scss",
        "assets/sass/components/panel.scss",
        "assets/sass/_contents.scss",
        "assets/sass/_reset.scss",
        "assets/sass/_preboot.scss",
        "assets/sass/_grid.scss",
        "assets/sass/_scaffolding.scss",
        "assets/sass/_section.scss",
        "assets/sass/_elements.scss",
        "assets/sass/_patterns.scss",
        "assets/sass/_posts.scss",
        "assets/sass/_pages.scss",
        "assets/sass/_sidebar.scss",
        "assets/sass/_comments.scss",
        "assets/sass/_forms.scss",
        "assets/sass/_support.scss",
        "assets/sass/_component-image.scss",
        "assets/sass/_component-article-card.scss",
        "assets/sass/_vendor-aos.scss",
        "assets/sass/_vendor-lazyestload.scss",
        "assets/sass/_vendor-instagram.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss",
        "assets/sass/compass/utilities/_color.scss",
        "assets/sass/compass/utilities/_general.scss",
        "assets/sass/compass/utilities/_sprites.scss",
        "assets/sass/compass/utilities/_tables.scss",
        "assets/sass/compass/typography/_links.scss",
        "assets/sass/compass/typography/_lists.scss",
        "assets/sass/compass/typography/_text.scss",
        "assets/sass/compass/typography/_vertical_rhythm.scss",
        "assets/sass/compass/css3/_border-radius.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/css3/_opacity.scss",
        "assets/sass/compass/css3/_box-shadow.scss",
        "assets/sass/compass/css3/_text-shadow.scss",
        "assets/sass/compass/css3/_columns.scss",
        "assets/sass/compass/css3/_box-sizing.scss",
        "assets/sass/compass/css3/_box.scss",
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-clip.scss",
        "assets/sass/compass/css3/_background-origin.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/css3/_font-face.scss",
        "assets/sass/compass/css3/_transform.scss",
        "assets/sass/compass/css3/_transition.scss",
        "assets/sass/compass/css3/_appearance.scss",
        "assets/sass/compass/css3/_regions.scss",
        "assets/sass/compass/css3/_hyphenation.scss",
        "assets/sass/compass/css3/_filter.scss",
        "assets/sass/compass/css3/_pie.scss",
        "assets/sass/compass/css3/_user-interface.scss",
        "assets/sass/compass/css3/_flexbox.scss",
        "assets/sass/compass/utilities/color/_contrast.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/utilities/general/_tag-cloud.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/utilities/general/_min.scss",
        "assets/sass/compass/utilities/sprites/_base.scss",
        "assets/sass/compass/utilities/sprites/_sprite-img.scss",
        "assets/sass/compass/utilities/tables/_alternating-rows-and-columns.scss",
        "assets/sass/compass/utilities/tables/_borders.scss",
        "assets/sass/compass/utilities/tables/_scaffolding.scss",
        "assets/sass/compass/typography/links/_hover-link.scss",
        "assets/sass/compass/typography/links/_link-colors.scss",
        "assets/sass/compass/typography/links/_unstyled-link.scss",
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_inline-list.scss",
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/typography/text/_nowrap.scss",
        "assets/sass/compass/typography/text/_replacement.scss",
        "assets/sass/compass/typography/text/_force-wrap.scss",
        "assets/sass/compass/layout/_grid-background.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/reset/_utilities.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_css3.scss",
      "imports": [
        "assets/sass/compass/css3/_border-radius.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/css3/_opacity.scss",
        "assets/sass/compass/css3/_box-shadow.scss",
        "assets/sass/compass/css3/_text-shadow.scss",
        "assets/sass/compass/css3/_columns.scss",
        "assets/sass/compass/css3/_box-sizing.scss",
        "assets/sass/compass/css3/_box.scss",
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-clip.scss",
        "assets/sass/compass/css3/_background-origin.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/css3/_font-face.scss",
        "assets/sass/compass/css3/_transform.scss",
        "assets/sass/compass/css3/_transition.scss",
        "assets/sass/compass/css3/_appearance.scss",
        "assets/sass/compass/css3/_regions.scss",
        "assets/sass/compass/css3/_hyphenation.scss",
        "assets/sass/compass/css3/_filter.scss",
        "assets/sass/compass/css3/_pie.scss",
        "assets/sass/compass/css3/_user-interface.scss",
        "assets/sass/compass/css3/_flexbox.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_functions.scss",
      "imports": [
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_layout.scss",
      "imports": [
        "assets/sass/compass/layout/_grid-background.scss",
        "assets/sass/compass/layout/_sticky-footer.scss",
        "assets/sass/compass/layout/_stretching.scss",
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_reset-legacy.scss",
      "imports": [
        "assets/sass/compass/reset/_utilities-legacy.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_reset.scss",
      "imports": [
        "assets/sass/compass/reset/_utilities.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_typography.scss",
      "imports": [
        "assets/sass/compass/typography/_links.scss",
        "assets/sass/compass/typography/_lists.scss",
        "assets/sass/compass/typography/_text.scss",
        "assets/sass/compass/typography/_vertical_rhythm.scss",
        "assets/sass/compass/typography/links/_hover-link.scss",
        "assets/sass/compass/typography/links/_link-colors.scss",
        "assets/sass/compass/typography/links/_unstyled-link.scss",
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_inline-list.scss",
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/typography/text/_nowrap.scss",
        "assets/sass/compass/typography/text/_replacement.scss",
        "assets/sass/compass/typography/text/_force-wrap.scss",
        "assets/sass/compass/layout/_grid-background.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/_utilities.scss",
      "imports": [
        "assets/sass/compass/utilities/_color.scss",
        "assets/sass/compass/utilities/_general.scss",
        "assets/sass/compass/utilities/_sprites.scss",
        "assets/sass/compass/utilities/_tables.scss",
        "assets/sass/compass/typography/_links.scss",
        "assets/sass/compass/typography/_lists.scss",
        "assets/sass/compass/typography/_text.scss",
        "assets/sass/compass/utilities/color/_contrast.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/utilities/general/_tag-cloud.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/utilities/general/_min.scss",
        "assets/sass/compass/utilities/sprites/_base.scss",
        "assets/sass/compass/utilities/sprites/_sprite-img.scss",
        "assets/sass/compass/utilities/tables/_alternating-rows-and-columns.scss",
        "assets/sass/compass/utilities/tables/_borders.scss",
        "assets/sass/compass/utilities/tables/_scaffolding.scss",
        "assets/sass/compass/typography/links/_hover-link.scss",
        "assets/sass/compass/typography/links/_link-colors.scss",
        "assets/sass/compass/typography/links/_unstyled-link.scss",
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_inline-list.scss",
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/typography/text/_nowrap.scss",
        "assets/sass/compass/typography/text/_replacement.scss",
        "assets/sass/compass/typography/text/_force-wrap.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/css3/_shared.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_appearance.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_background-clip.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_background-origin.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_background-size.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_border-radius.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_box-shadow.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_box-sizing.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_box.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_columns.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_filter.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_flexbox.scss",
      "imports": [
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/css3/_shared.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_font-face.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_hyphenation.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_images.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_inline-block.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_opacity.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_regions.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_shared.scss",
      "imports": [
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_text-shadow.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_transform-legacy.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_transform.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_transition.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/css3/_user-interface.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/layout/_grid-background.scss",
      "imports": [
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/_links.scss",
      "imports": [
        "assets/sass/compass/typography/links/_hover-link.scss",
        "assets/sass/compass/typography/links/_link-colors.scss",
        "assets/sass/compass/typography/links/_unstyled-link.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/_lists.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_inline-list.scss",
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/_text.scss",
      "imports": [
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/typography/text/_nowrap.scss",
        "assets/sass/compass/typography/text/_replacement.scss",
        "assets/sass/compass/typography/text/_force-wrap.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/_vertical_rhythm.scss",
      "imports": [
        "assets/sass/compass/layout/_grid-background.scss",
        "assets/sass/compass/css3/_images.scss",
        "assets/sass/compass/css3/_background-size.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_functions.scss",
        "assets/sass/compass/_support.scss",
        "assets/sass/compass/functions/_lists.scss",
        "assets/sass/compass/functions/_cross_browser_support.scss",
        "assets/sass/compass/functions/_gradient_support.scss",
        "assets/sass/compass/functions/_constants.scss",
        "assets/sass/compass/functions/_display.scss",
        "assets/sass/compass/functions/_colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_color.scss",
      "imports": [
        "assets/sass/compass/utilities/color/_contrast.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_general.scss",
      "imports": [
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/utilities/general/_tag-cloud.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/utilities/general/_min.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_links.scss",
      "imports": [
        "assets/sass/compass/typography/links/_hover-link.scss",
        "assets/sass/compass/typography/links/_link-colors.scss",
        "assets/sass/compass/typography/links/_unstyled-link.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_lists.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_inline-list.scss",
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_sprites.scss",
      "imports": [
        "assets/sass/compass/utilities/sprites/_base.scss",
        "assets/sass/compass/utilities/sprites/_sprite-img.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_tables.scss",
      "imports": [
        "assets/sass/compass/utilities/tables/_alternating-rows-and-columns.scss",
        "assets/sass/compass/utilities/tables/_borders.scss",
        "assets/sass/compass/utilities/tables/_scaffolding.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/_text.scss",
      "imports": [
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/typography/text/_nowrap.scss",
        "assets/sass/compass/typography/text/_replacement.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/lists/_horizontal-list.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/lists/_inline-block-list.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/typography/text/_ellipsis.scss",
      "imports": [
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/general/_clearfix.scss",
      "imports": [
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/general/_hacks.scss",
      "imports": [
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/general/_min.scss",
      "imports": [
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/general/_reset.scss",
      "imports": [
        "assets/sass/compass/reset/_utilities.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/links/_hover-link.scss",
      "imports": [
        "assets/sass/compass/typography/links/_hover-link.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/links/_link-colors.scss",
      "imports": [
        "assets/sass/compass/typography/links/_link-colors.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/links/_unstyled-link.scss",
      "imports": [
        "assets/sass/compass/typography/links/_unstyled-link.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/lists/_bullets.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_bullets.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/lists/_horizontal-list.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/lists/_inline-block-list.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_inline-block-list.scss",
        "assets/sass/compass/typography/lists/_bullets.scss",
        "assets/sass/compass/typography/lists/_horizontal-list.scss",
        "assets/sass/compass/utilities/general/_float.scss",
        "assets/sass/compass/css3/_inline-block.scss",
        "assets/sass/compass/utilities/general/_clearfix.scss",
        "assets/sass/compass/utilities/general/_reset.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/utilities/general/_hacks.scss",
        "assets/sass/compass/reset/_utilities.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/lists/_inline-list.scss",
      "imports": [
        "assets/sass/compass/typography/lists/_inline-list.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/text/_ellipsis.scss",
      "imports": [
        "assets/sass/compass/typography/text/_ellipsis.scss",
        "assets/sass/compass/css3/_shared.scss",
        "assets/sass/compass/_support.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/text/_nowrap.scss",
      "imports": [
        "assets/sass/compass/typography/text/_nowrap.scss"
      ]
    },
    {
      "path": "assets/sass/compass/utilities/text/_replacement.scss",
      "imports": [
        "assets/sass/compass/typography/text/_replacement.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}