{
  "name": "nilsdannemann.dev",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "wp-content/themes/ink/inc/styles/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"wp-content/themes/ink/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "wp-content",
      "wp-content/themes",
      "wp-content/themes/ink/inc",
      "wp-content/themes/ink/inc/styles",
      "wp-content/themes/ink"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "wp-content/plugins/jetpack/scss/jetpack-admin.scss",
      "imports": [
        "wp-content/plugins/jetpack/scss/atoms/colors/_colors.scss",
        "wp-content/plugins/jetpack/scss/atoms/typography/_variables.scss",
        "wp-content/plugins/jetpack/scss/_utilities/mixins/_breakpoint.scss",
        "wp-content/plugins/jetpack/scss/atoms/_animations.scss",
        "wp-content/plugins/jetpack/scss/atoms/_buttons.scss",
        "wp-content/plugins/jetpack/scss/atoms/icons/_automatticons.scss",
        "wp-content/plugins/jetpack/scss/molecules/_nav-horizontal.scss",
        "wp-content/plugins/jetpack/scss/templates/_main.scss"
      ]
    },
    {
      "path": "wp-content/plugins/jetpack/scss/jetpack-banners.scss",
      "imports": [
        "wp-content/plugins/jetpack/scss/_utilities/mixins/_breakpoint.scss",
        "wp-content/plugins/jetpack/scss/atoms/typography/_variables.scss",
        "wp-content/plugins/jetpack/scss/atoms/typography/_functions.scss",
        "wp-content/plugins/jetpack/scss/organisms/_banners.scss"
      ]
    },
    {
      "path": "wp-content/plugins/stagtools/assets/scss/stag-shortcodes.scss",
      "imports": [
        "wp-content/plugins/stagtools/assets/scss/_preboot.scss"
      ]
    },
    {
      "path": "wp-content/themes/ink/assets/sass/style.scss",
      "imports": [
        "wp-content/themes/ink/assets/sass/_contents.scss",
        "wp-content/themes/ink/assets/sass/_reset.scss",
        "wp-content/themes/ink/assets/sass/_preboot.scss",
        "wp-content/themes/ink/assets/sass/_grid.scss",
        "wp-content/themes/ink/assets/sass/_scaffolding.scss",
        "wp-content/themes/ink/assets/sass/_elements.scss",
        "wp-content/themes/ink/assets/sass/_patterns.scss",
        "wp-content/themes/ink/assets/sass/_posts.scss",
        "wp-content/themes/ink/assets/sass/_pages.scss",
        "wp-content/themes/ink/assets/sass/_sidebar.scss",
        "wp-content/themes/ink/assets/sass/_comments.scss",
        "wp-content/themes/ink/assets/sass/_forms.scss",
        "wp-content/themes/ink/assets/sass/_support.scss"
      ]
    },
    {
      "path": "wp-content/themes/ink/inc/styles/styles.scss",
      "imports": [
        "wp-content/themes/ink/inc/styles/nilsdannemann.variables.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-core-helpers.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-core-transition.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-ui-elements-arrow.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-ui-elements-button.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-grid-functions.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-grid.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-grid-column.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-grid-container.scss",
        "wp-content/themes/ink/inc/styles/base/_hfc-relay-grid-queries.scss",
        "wp-content/themes/ink/inc/styles/base/reset.scss",
        "wp-content/themes/ink/inc/styles/base/base.scss",
        "wp-content/themes/ink/inc/styles/base/typography.scss",
        "wp-content/themes/ink/inc/styles/components/grid.scss",
        "wp-content/themes/ink/inc/styles/components/button.scss",
        "wp-content/themes/ink/inc/styles/components/list.scss",
        "wp-content/themes/ink/inc/styles/components/table.scss",
        "wp-content/themes/ink/inc/styles/components/caption.scss",
        "wp-content/themes/ink/inc/styles/components/comments.scss",
        "wp-content/themes/ink/inc/styles/components/forms.scss",
        "wp-content/themes/ink/inc/styles/layout/header.scss",
        "wp-content/themes/ink/inc/styles/layout/content.scss",
        "wp-content/themes/ink/inc/styles/layout/navigation.scss",
        "wp-content/themes/ink/inc/styles/layout/footer.scss",
        "wp-content/themes/ink/inc/styles/layout/blog.scss",
        "wp-content/themes/ink/inc/styles/layout/post.scss",
        "wp-content/themes/ink/inc/styles/layout/page.scss",
        "wp-content/themes/ink/inc/styles/layout/sidebar.scss",
        "wp-content/themes/ink/inc/styles/layout/slider.scss",
        "wp-content/themes/ink/inc/styles/vendor/stagtools.scss",
        "wp-content/themes/ink/inc/styles/vendor/restrictcontentpro.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7885,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false,\"output\":{\"replaceSegmentsWith\":\"min.css\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}