.section {
	padding: 30px;

	&__title {
		@include container();
		font-size: 37.5px;
		margin-bottom: 105px;
		text-transform: uppercase;
		
		@include respond-above($app-mobile-breakpoint) {
			text-align: center;
		}
	}

	&__header {
		min-height: 400px;
		position: relative;
		margin: -30px -30px 90px -30px;
		background: $color-spaceblack;
		
		&::before {
			content: '';
			background: url('assets/img/divider.png') repeat-x top left;
			transform: rotate(180deg);
			display: block;
			height: 50px;
			width: 100%;
			position: absolute;
			bottom: -50px;
			background-size: 1280px 50px;
		}
	}

	&__posts {
		@include grid($direction: column);
		@include container();
	}
	&__post {
		@include grid();
		border-bottom: $border;
		padding-bottom: 15px;
		margin-bottom: 40px;

		&-image{
			@include column('1/1', $gutter: 30px);
			@include respond-above($app-mobile-breakpoint) {
				@include column('200px', $gutter: 30px);
			}
			&-card {
				border-radius: 5px;
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 5px 15px rgba(0, 0, 0, 0.15);
				background: #fff;
			}
		}
		&-meta{
			@include grid();
			@include column('1/1', $gutter: 30px);
			@include respond-above($app-mobile-breakpoint) {
				@include column('200px', $gutter: 60px);
			}
			@include respond-below($app-mobile-breakpoint) {
				order: 1;
			}
			&-block {
				@include column('1/3', $gutter: 5px);
				&:last-child {@include column('1/1');}
				&:not(:last-child) {margin-bottom: ($whitespace*0.75);}
				@include respond-above($app-mobile-breakpoint) {
					@include column('1/1', $gutter: 7.5px);
				}
			}
			&-title {
				font-size: $font-size-l;
				color: $color-text-light;
			}
			&-value {
				font-size: $font-size-l;
				line-height: $line-height-l;
			}
			&-label {
				background: $color-grey;
				padding: 0px 7.5px;
				margin-right: 5px;
				margin-bottom: 2.5px;
				display: inline-block;
				border-radius: 3px;
				font-size: $font-size-s;
			}
		}
		&-content{
			@include column('1/1', $gutter: 30px);
			@include respond-above($app-mobile-breakpoint) {
				@include column('auto', $gutter: 30px);
			}
			&-title {
				text-transform: uppercase;
				font-size: 22px;
			}
			&-excerpt {}
		}
		&-button {
			height: 40px;
			color: $color-text;
			text-align: center;
			margin: 0;
			padding: 7.5px 10px;
			border: $border;
			font-size: $font-size;
			font-family: $font-family-text;
			font-weight: $font-family-text-weight;
			text-decoration: none;
			cursor: pointer;
			background: transparent; //For: override browser input styles
			line-height: 29px;
			&:not(:last-child) {margin-bottom: $whitespace;}
		}
	}

	&__offers {
		@include grid($align: center);
		@include container();
	}
	
	&__cta {
		@include grid($align: center);
		@include container();
		margin-bottom: 40px;

		&-button {
			color: $color-text;
			text-align: center;
			margin: 0;
			padding: 10px 20px;
			font-size: $font-size-l;
			font-family: $font-family-text;
			font-weight: $font-family-text-weight;
			text-decoration: none;
			cursor: pointer;
			border: none;
			background: $color-grey; //For: override browser input styles
			line-height: 29px;
			&:not(:last-child) {margin-bottom: $whitespace;}
		}
	}
	
}