/*---------------------------------------------------------
 Content Area (_scaffolding.scss)
-------------------------------------------------------- */
.site-main {
  display: block;
}
.site-main, .textwidget,
.entry-content,
.page-content,
.comment-content, .related-posts, .post-navigation, .stag-custom-widget-area .stag-instagram ul, .contributors-list, .comment-list {
  zoom: 1;
}
.site-main:before, .textwidget:before,
.entry-content:before,
.page-content:before,
.comment-content:before, .related-posts:before, .post-navigation:before, .stag-custom-widget-area .stag-instagram ul:before, .contributors-list:before, .comment-list:before, .site-main:after, .textwidget:after,
.entry-content:after,
.page-content:after,
.comment-content:after, .related-posts:after, .post-navigation:after, .stag-custom-widget-area .stag-instagram ul:after, .contributors-list:after, .comment-list:after {
  display: table;
  content: "";
}
.site-main:after, .textwidget:after,
.entry-content:after,
.page-content:after,
.comment-content:after, .related-posts:after, .post-navigation:after, .stag-custom-widget-area .stag-instagram ul:after, .contributors-list:after, .comment-list:after {
  clear: both;
}

table, .entry-title {
  word-break: break-word;
  word-wrap: break-word;
}

.hover-overlay .post-content-overlay button, .post-content {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.inside, body[class*="page-id"]:not(.page-template-current-php) .entry-header, .stag-custom-widget-area .full-wrap .widgettitle,
.stag-custom-widget-area .widget:not(.full-wrap),
.stag-custom-widget-area .stag-instagram .widgettitle,
.stag-custom-widget-area .widget_text {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 970px) {
  .inside, body[class*="page-id"]:not(.page-template-current-php) .entry-header, .stag-custom-widget-area .full-wrap .widgettitle,
  .stag-custom-widget-area .widget:not(.full-wrap),
  .stag-custom-widget-area .stag-instagram .widgettitle,
  .stag-custom-widget-area .widget_text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.single .entry-meta,
.single .entry-footer,
.single .post-navigation,
.single .comments-area,
.page .entry-meta,
.page .entry-footer,
.page .post-navigation,
.page .comments-area, .page-content,
.entry-content, .page-header, .ink-contact-form {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 970px) {
  .single .entry-meta,
  .single .entry-footer,
  .single .post-navigation,
  .single .comments-area,
  .page .entry-meta,
  .page .entry-footer,
  .page .post-navigation,
  .page .comments-area, .page-content,
  .entry-content, .page-header, .ink-contact-form {
    padding-left: 20px;
    padding-right: 20px;
  }
}