/*---------------------------------------------------------
 Navigation (_scaffolding.scss)
-------------------------------------------------------- */
.navigation {
  list-style: none;
}

.main-navigation {
  margin-bottom: 50px;
}
@media screen and (min-width: 800px) {
  .traditional-navigation .main-navigation {
    display: none;
  }
}

.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  background-color: #f9f9f9;
  max-width: 330px;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.site-nav-transition .site-nav {
  display: block;
}
.site-nav--scrollable-container {
  opacity: 0;
  overflow: auto;
  padding: 30px;
  padding: 1.875rem;
  width: 330px;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: relative;
}
.site-nav-transition .site-nav--scrollable-container {
  opacity: 1;
}
.site-nav__section {
  position: relative;
  padding: 30px 0;
  padding:  1.875rem 0;
}
.site-nav__section:last-of-type {
  border: none;
  padding-bottom: 0;
}
.site-nav__section:first-of-type {
  padding-top: 10px;
}
.admin-bar .site-nav__section:first-of-type {
  padding-top: 0;
}
.site-nav a {
  border: 0;
}
.site-nav .widgettitle {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.site-nav .close-nav {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  z-index: 50;
  padding-top: 10px;
}
.admin-bar .site-nav .close-nav {
  padding-top: 0;
}
.admin-bar .site-nav {
  padding-top: 40px;
}
@media screen and (max-width: 780px) {
  .admin-bar .site-nav {
    padding-top: 56px;
  }
}

.site-nav-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 600;
  cursor: e-resize;
}

.site-nav-drawer-open .site-nav-overlay,
.site-nav:focus ~ .site-nav-overlay {
  display: block;
  right: 330px;
  z-index: 900;
}

.site-nav-transition #page {
  left: 0;
  top: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 800;
}
.site-nav-drawer-open #page {
  -moz-transform: translate(-330px, 0, 0);
  -ms-transform: translate(-330px, 0, 0);
  -webkit-transform: translate(-330px, 0, 0);
  transform: translate(-330px, 0, 0);
  -moz-transform: translate3d(-330px, 0, 0);
  -ms-transform: translate3d(-330px, 0, 0);
  -webkit-transform: translate3d(-330px, 0, 0);
  transform: translate3d(-330px, 0, 0);
}
.admin-bar.site-nav-transition #page {
  top: auto;
}