/*---------------------------------------------------------
 6. Pages (_pages.scss)
-------------------------------------------------------- */
.page-header {
  text-align: center;
}
.page-header__content {
  padding-top: 80px;
  padding-top: 5rem;
  padding-bottom: 65px;
  padding-bottom: 4.0625rem;
}
@media screen and (max-width: 649px) {
  .page-header__content {
    padding: 60px 0;
    padding:  3.75rem 0;
  }
}

.hide-page-title .site-main .entry-header {
  display: none;
}

body[class*="page-id"]:not(.page-template-current-php) .entry-header {
  margin-bottom: 70px;
  margin-bottom: 4.375rem;
  color: #fff;
  text-align: center;
}
body[class*="page-id"]:not(.page-template-current-php) .entry-title {
  line-height: 1.3;
  font-size: 65px;
  font-size: 4.0625rem;
}
@media screen and (max-width: 480px) {
  body[class*="page-id"]:not(.page-template-current-php) .entry-title {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1;
  }
}

.site-main .page .entry-meta {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.page-template-widgetized .page {
  padding: 90px 0;
  padding:  5.625rem 0;
}

.page-template-widgetized .entry-content p:last-of-type {
  margin-bottom: 0;
}

.header-over[class*="page-id-"].page-template-widgetized .hentry {
  padding-top: 200px;
  padding-top: 12.5rem;
}

.search .page {
  padding: 0;
}
.search .page .entry-meta {
  margin-top: 0;
  margin-bottom: 0;
}

.page-cover {
  position: relative;
  border-bottom: 2px solid #fff;
}
.page-cover__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.page-cover .hentry {
  position: relative;
  z-index: 3;
}

/*---------------------------------------------------------
 Author Page (_pages.scss)
-------------------------------------------------------- */
.current-author__name {
  line-height: 1.1;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}
@media screen and (min-width: 650px) {
  .current-author__name {
    font-size: 65px;
    font-size: 4.0625rem;
  }
}
.current-author__description {
  line-height: 1.6;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (max-width: 649px) {
  .current-author__description {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.current-author__social-profiles {
  list-style: none;
  font-size: 50px;
  font-size: 3.125rem;
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (max-width: 480px) {
  .current-author__social-profiles {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
.current-author__social-profiles li {
  display: inline-block;
  margin: 0 20px;
  margin:  0 1.25rem;
}
@media screen and (max-width: 480px) {
  .current-author__social-profiles li {
    margin: 0 15px;
    margin:  0 0.9375rem;
  }
}
.current-author__social-profiles a {
  color: inherit;
  -moz-transition: color 200ms;
  -o-transition: color 200ms;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  border: 0;
}
.current-author__social-profiles a:hover {
  color: #a3a3a3;
}

.hide-author .byline {
  display: none;
}

.author .block-button {
  margin-top: 0;
  margin-bottom: 0;
}

/*---------------------------------------------------------
 Widgetized Page Template (_pages.scss)
-------------------------------------------------------- */
.page-template-widgetized-php.header-over .stag_widget_intro {
  padding-top: 250px;
  padding-top: 15.625rem;
}

/*---------------------------------------------------------
 404 Error Page (_pages.scss)
-------------------------------------------------------- */
.error-404 .page-header {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
.error-404 .page-content .widget {
  margin-top: 40px;
  margin-top: 2.5rem;
}
.error-404 .search-form {
  margin-top: 49.9px;
  margin-top: 3.11875rem;
}
.error-404 .search-field {
  width: 100%;
}
.error-404 .search-submit {
  display: none;
}

.traditional-navigation .archive-header-wrapper {
  margin: 40px 0;
  text-align: center;
}
.traditional-navigation .archive-header {
  position: static;
  top: initial;
  right: 0;
  padding: 0;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  background: none;
  color: #000;
}
.traditional-navigation .archive-header__title {
  color: inherit;
  position: relative;
}
.traditional-navigation .archive-header__title > span {
  display: inline-block;
  padding: 0 20px;
  background: #fff;
  color: #000;
}
.traditional-navigation .archive-header__title:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #000;
}

.archive-header {
  background: #000;
  position: absolute;
  right: 70px;
  top: 33px;
  padding: 10px;
  line-height: 1;
}
.archive-header__title {
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (max-width: 800px) {
  .archive-header {
    display: none;
  }
}
.archive-header .term {
  color: inherit;
}

.ink-contact-form {
  margin-top: 80px;
  margin-top: 5rem;
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
.ink-contact-form__title {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  margin-top: 40px;
  margin-top: 2.5rem;
  color: #2C2C2C;
}
.ink-contact-form form {
  background: #f6f6f6;
  padding: 35px 35px 0 35px;
}
.ink-contact-form .unit {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.ink-contact-form textarea,
.ink-contact-form input[type="text"],
.ink-contact-form input[type="email"] {
  width: 100%;
}
.ink-contact-form .contact-form-button {
  display: block;
}
.ink-contact-form .error {
  color: #D15858;
  display: block;
  margin-top: 5px;
}
.ink-contact-form .buttons {
  margin-left: -35px;
  background: #ffffff;
  margin-right: -35px;
  padding: 40px 0;
}
.ink-contact-form .stag-alert {
  background: none;
  border: 2px solid #53B38C;
  font-size: 20px;
  line-height: 1.8;
  color: #53B38C;
}

.no-results {
  text-align: center;
  margin-bottom: 50px;
}
.no-results .search-field {
  display: block;
  width: 100%;
  padding-right: 50px;
  padding-right: 3.125rem;
}
.no-results .page-header {
  margin-bottom: 30px;
}
.no-results .search-form {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.author .block-button {
  margin-top: 50px;
  margin-top: 3.125rem;
}

.error-post {
  padding-top: 200px;
  padding-bottom: 150px;
  text-align: center;
  color: #fff;
}
.error-post .entry-title {
  margin-bottom: 70px;
  margin-bottom: 4.375rem;
  font-size: 65px;
  font-size: 4.0625rem;
  line-height: 1.3;
}

.error404 .page-cover {
  margin-bottom: 50px;
}

.custom-header {
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #000;
  background-position: center;
  background-size: cover;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #fff;
  z-index: 1;
  overflow: hidden;
}
.custom-header a {
  color: currentColor !important;
}
.custom-header .sharedaddy {
  display: none;
}
.custom-header .custom-header-title {
  font-size: 75px;
  font-size: 4.6875rem;
  line-height: 1.25;
}
@media screen and (max-width: 480px) {
  .custom-header .custom-header-title {
    font-size: 40px;
  }
}
.custom-header .custom-header-description {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1.25;
}
@media screen and (max-width: 600px) {
  .custom-header .custom-header-description {
    font-size: 20px;
  }
}
.custom-header .custom-header-description p {
  margin-top: 20px;
}
.custom-header .custom-header-title + .custom-header-description {
  margin-top: 30px;
}
.custom-header .inner-header-content {
  max-width: 740px;
  margin: 0 auto;
  padding: 250px 20px;
}

.custom-header-content {
  width: 100%;
}

.custom-header-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .8;
  z-index: -1;
}

.page .entry-content p:last-child {
  margin-bottom: 0;
}
.page .site-footer {
  border-top: 2px solid #000;
  padding-top: 50px;
}

.single .single-sidebar-on.site-main, .single .single-sidebar-on + .site-footer .inside,
.page .single-sidebar-on.site-main,
.page .single-sidebar-on + .site-footer .inside {
  max-width: 1210px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 970px) {
  .single .single-sidebar-on.site-main, .single .single-sidebar-on + .site-footer .inside,
  .page .single-sidebar-on.site-main,
  .page .single-sidebar-on + .site-footer .inside {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.single .single-sidebar-on .content-area,
.page .single-sidebar-on .content-area {
  float: left;
  width: 74%;
  max-width: 800px;
}
@media screen and (max-width: 970px) {
  .single .single-sidebar-on .content-area,
  .page .single-sidebar-on .content-area {
    float: none;
    max-width: 100%;
    width: 100%;
  }
}
.single .single-sidebar-on .widget-area,
.page .single-sidebar-on .widget-area {
  float: left;
  max-width: 270px;
  width: 24%;
  font-size: 15px;
  line-height: 1.7;
}
@media screen and (min-width: 800px) {
  .single .single-sidebar-on .widget-area,
  .page .single-sidebar-on .widget-area {
    margin-left: 2%;
  }
}
@media screen and (min-width: 1170px) {
  .single .single-sidebar-on .widget-area,
  .page .single-sidebar-on .widget-area {
    margin-left: 5%;
  }
}
@media screen and (max-width: 970px) {
  .single .single-sidebar-on .widget-area,
  .page .single-sidebar-on .widget-area {
    float: none;
    max-width: 100%;
    width: 100%;
  }
}
.single .single-sidebar-on .widget-area .widget-title,
.page .single-sidebar-on .widget-area .widget-title {
  font-size: 18px;
  margin-bottom: 30px;
}
.single .single-sidebar-on .widget-area .textwidget,
.single .single-sidebar-on .widget-area .widget_categories a,
.single .single-sidebar-on .widget-area .widget_archive a,
.single .single-sidebar-on .widget-area .widget_pages a,
.single .single-sidebar-on .widget-area .widget_meta a,
.single .single-sidebar-on .widget-area .widget_recent_comments a,
.single .single-sidebar-on .widget-area .widget_nav_menu a,
.single .single-sidebar-on .widget-area .main-navigation a,
.page .single-sidebar-on .widget-area .textwidget,
.page .single-sidebar-on .widget-area .widget_categories a,
.page .single-sidebar-on .widget-area .widget_archive a,
.page .single-sidebar-on .widget-area .widget_pages a,
.page .single-sidebar-on .widget-area .widget_meta a,
.page .single-sidebar-on .widget-area .widget_recent_comments a,
.page .single-sidebar-on .widget-area .widget_nav_menu a,
.page .single-sidebar-on .widget-area .main-navigation a {
  font-size: 17px;
  line-height: 1.8;
}
.single .single-sidebar-on .entry-content img.size-full.alignnone,
.page .single-sidebar-on .entry-content img.size-full.alignnone {
  width: 125%;
  max-width: 125%;
  margin-left: -25%;
}
@media screen and (max-width: 970px) {
  .single .single-sidebar-on .entry-content img.size-full.alignnone,
  .page .single-sidebar-on .entry-content img.size-full.alignnone {
    margin-left: -10%;
  }
}
