/*---------------------------------------------------------
 7. Sidebar (_sidebar.scss)
-------------------------------------------------------- */
#sidebar {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}

/*---------------------------------------------------------
 Widgets (_sidebar.scss)
-------------------------------------------------------- */
.widgettitle {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  font-size: 21px;
  font-size: 1.3125rem;
  letter-spacing: 1px;
  color: #2C2C2C;
}

.widget-area .widget,
.site-nav .widget {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.widget-area .widget a,
.site-nav .widget a {
  border: 0;
}
.widget-area .widget .textwidget a:not(.stag-button),
.site-nav .widget .textwidget a:not(.stag-button) {
  border-bottom: 2px solid #53B38C;
}
.widget-area .widget .textwidget a:not(.stag-button).button,
.site-nav .widget .textwidget a:not(.stag-button).button {
  border-bottom: none;
}
.widget-area form,
.site-nav form {
  padding: 40px;
  background: #f6f6f6;
}
.widget-area form div,
.site-nav form div {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  float: none;
  margin-bottom: 20px !important;
}
.widget-area form input,
.site-nav form input {
  border-radius: 3px;
  padding: 10px;
  line-height: 1.25;
}
.widget-area form .contact-submit,
.widget-area form .subscribe-submit,
.site-nav form .contact-submit,
.site-nav form .subscribe-submit {
  margin: 0;
  padding-top: 0;
  background: transparent;
}
.widget-area form .contact-submit input,
.widget-area form .subscribe-submit input,
.site-nav form .contact-submit input,
.site-nav form .subscribe-submit input {
  min-height: 35px;
  padding: 10px 26px;
  font-size: 12px;
}
.widget-area .search-form,
.site-nav .search-form {
  padding: 0;
  background: transparent;
}
.widget-area .stag-button,
.site-nav .stag-button {
  display: inline-block;
  font-size: 12px;
  line-height: 1.25;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.widget-area .instagram-follow-link,
.site-nav .instagram-follow-link {
  background: #53B38C;
  padding: 10px 26px;
  color: #fff;
  margin: 15px 0 0 0;
}
.widget-area .instagram-follow-link:hover,
.site-nav .instagram-follow-link:hover {
  background: #111;
}

.site-nav form {
  padding: 20px;
}
.site-nav form div {
  margin-bottom: 10px !important;
}
.site-nav .textwidget a:not(.stag-button) {
  border-bottom: 2px solid #53B38C;
}
.site-nav .textwidget a:not(.stag-button).button {
  border-bottom: none;
}

.widget_recent_entries li {
  margin-bottom: 30px !important;
  margin-bottom: 1.875rem !important;
  font-size: 18px;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
}
.widget_recent_entries a {
  border: 0;
  order: 1;
}
.widget_recent_entries .post-date {
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2C2C2C;
  opacity: .5;
  margin-bottom: 10px;
}

.widget_archive li,
.widget_categories li,
.widget_pages li,
.widget_meta li,
.widget_recent_comments li,
.widget_nav_menu li,
.main-navigation li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2C2C2C;
  color: rgba(44, 44, 44, 0.5);
}
.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_pages li:first-child,
.widget_meta li:first-child,
.widget_recent_comments li:first-child,
.widget_nav_menu li:first-child,
.main-navigation li:first-child {
  padding-top: 0;
}
.widget_archive li > ul,
.widget_categories li > ul,
.widget_pages li > ul,
.widget_meta li > ul,
.widget_recent_comments li > ul,
.widget_nav_menu li > ul,
.main-navigation li > ul {
  border-top: 2px solid #2C2C27;
  margin-top: 10px;
  padding-top: 10px;
}
.widget_archive li > ul a,
.widget_categories li > ul a,
.widget_pages li > ul a,
.widget_meta li > ul a,
.widget_recent_comments li > ul a,
.widget_nav_menu li > ul a,
.main-navigation li > ul a {
  padding-left: 30px;
}
.widget_archive li > ul > li,
.widget_categories li > ul > li,
.widget_pages li > ul > li,
.widget_meta li > ul > li,
.widget_recent_comments li > ul > li,
.widget_nav_menu li > ul > li,
.main-navigation li > ul > li {
  padding-top: 10px;
}
.widget_archive li > ul > li:last-child,
.widget_categories li > ul > li:last-child,
.widget_pages li > ul > li:last-child,
.widget_meta li > ul > li:last-child,
.widget_recent_comments li > ul > li:last-child,
.widget_nav_menu li > ul > li:last-child,
.main-navigation li > ul > li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.widget_archive a,
.widget_categories a,
.widget_pages a,
.widget_meta a,
.widget_recent_comments a,
.widget_nav_menu a,
.main-navigation a {
  font-size: 17px;
  line-height: 1.6;
}

.widget_rss a {
  font-weight: 700;
}
.widget_rss span {
  margin-bottom: 10px;
  color: rgba(44, 44, 44, 0.5);
  display: block;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2C2C2C;
  opacity: .5;
  margin-bottom: 10px;
}
.widget_rss li {
  padding-bottom: 30px;
}
.widget_rss cite {
  display: inline-block;
  padding-top: 10px;
  color: rgba(44, 44, 44, 0.5);
}

.widget_calendar a {
  font-size: inherit !important;
  font-weight: 700;
}
.widget_calendar caption {
  text-align: left;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: .5;
  font-size: 13px;
}
.widget_calendar table tr th {
  padding: 15px 0;
}
.widget_calendar table tr td {
  font-size: 15px;
  line-height: 1;
}
.widget_calendar table tr th:last-child,
.widget_calendar table tr td:last-child {
  text-align: left;
}

.static-content-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.stag-custom-widget-area .widgettitle {
  margin-bottom: 90px;
  margin-bottom: 5.625rem;
  font-size: 30px;
  font-size: 1.875rem;
}
.stag-custom-widget-area .widget {
  padding: 90px 0;
  padding:  5.625rem 0;
}
.stag-custom-widget-area .stag-instagram {
  padding: 0 !important;
}
.stag-custom-widget-area .stag-instagram .widgettitle {
  text-align: center;
  margin-top: 50px;
  margin-top: 3.125rem;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
.stag-custom-widget-area .stag-instagram .thumbnail img {
  max-width: 150px;
}
.stag-custom-widget-area .stag-instagram .thumbnail .instagram_badge_image {
  margin: 0 !important;
}
.stag-custom-widget-area .stag-instagram .size-large img {
  width: 100%;
  max-width: none;
}
.stag-custom-widget-area .size-large .instagram_badge_image {
  margin: 0;
  display: inline-block;
  float: left;
  vertical-align: middle;
  width: 25%;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
}
@media screen and (max-width: 650px) {
  .stag-custom-widget-area .size-large .instagram_badge_image {
    width: 33.33333%;
  }
}
.stag-custom-widget-area .size-large .instagram_badge_image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.stag-custom-widget-area .size-large .instagram_badge_image:hover:before {
  background: transparent;
}
.stag-custom-widget-area .stag-instagram {
  text-align: center;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 970px) {
  .stag-custom-widget-area .stag-instagram ul {
    padding: 0 20px;
  }
}
.stag-custom-widget-area .stag-instagram .standard_resolution li {
  float: left;
  max-width: 48%;
  margin: 1%;
}
.stag-custom-widget-area .stag-instagram .low_resolution li {
  float: left;
  max-width: 31%;
  margin: 1%;
}

.stag-flickr,
.instagram-widget.thumbnail,
.stag-dribbble {
  margin-right: -10px;
}
.stag-flickr li,
.instagram-widget.thumbnail li,
.stag-dribbble li {
  width: 30%;
  margin: 0 3% 3% 0;
}
.stag-flickr img,
.instagram-widget.thumbnail img,
.stag-dribbble img {
  max-width: 100%;
  width: 100%;
}

.dribbbles {
  font-size: 0;
}
.dribbbles li {
  display: inline-block;
}

.site-nav .textwidget {
  font-size: 16px;
  font-size: 1rem;
}

.stag_widget_recent_posts,
.stag_widget_static_content {
  text-align: center;
  position: relative;
}
.stag_widget_recent_posts .inner-section,
.stag_widget_static_content .inner-section {
  position: relative;
  z-index: 2;
}

.stag_widget_recent_posts {
  text-align: center;
}
.stag_widget_recent_posts .widgettitle {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.stag_widget_recent_posts a {
  border-bottom: 0;
}
.stag_widget_recent_posts .entry-header {
  margin-bottom: 10px !important;
  margin-bottom: 0.625rem !important;
}
.stag_widget_recent_posts .entry-title {
  font-size: 30px !important;
  font-size: 1.875rem !important;
  text-transform: none;
  font-weight: normal;
}
.stag_widget_recent_posts article {
  margin-bottom: 70px;
  margin-bottom: 4.375rem;
}
.stag_widget_recent_posts article:last-of-type {
  margin-bottom: 0;
}
.stag_widget_recent_posts .all-posts {
  margin-top: 80px;
  margin-top: 5rem;
}
.stag_widget_recent_posts .entry-subtitle.entry-subtitle {
  font-size: 20px;
  margin: 10px auto;
}
.stag_widget_recent_posts .entry-content {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.stag-twitter li {
  margin-bottom: 20px !important;
  margin-bottom: 1.25rem !important;
  color: rgba(44, 44, 44, 0.5);
}
.stag-twitter time {
  color: #a3a3a3;
  font-size: 14px;
  font-size: 0.875rem;
}
.stag-twitter time a {
  color: inherit;
}
.stag-twitter .twitter-follow-button {
  margin-top: 20px;
  margin-top: 1.25rem;
  padding: 4px 14px;
  padding:  0.25rem 0.875rem;
  font-size: 14px;
  font-size: 0.875rem;
}
.stag-twitter .twitter-follow-button:hover {
  color: white;
}

.stag_widget_static_content .page {
  padding-top: 0 !important;
}

.stag_widget_recent_posts_grid {
  padding: 0 !important;
  overflow: hidden;
  margin-top: 2px;
}
.stag_widget_recent_posts_grid .entry-title {
  font-size: 35px !important;
  font-size: 2.1875rem !important;
}
.stag_widget_recent_posts_grid .widgettitle {
  text-align: center;
  margin-top: 90px;
  margin-top: 5.625rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.stag_widget_recent_posts_grid .entry-header {
  margin-bottom: 0 !important;
}
.stag_widget_recent_posts_grid .entry-content {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
  text-align: center;
}
.header-over .stag_widget_recent_posts_grid .hentry {
  padding-top: 0 !important;
}

.site-contributors {
  text-align: center;
  padding-bottom: 0 !important;
}
.site-contributors.widget:last-of-type {
  position: relative;
  bottom: -2px;
  margin-top: -2px;
}
.site-contributors .widgettitle {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.site-contributors .entry-content {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.contributors-list {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.contributors-list .contributor {
  padding: 35px 15px;
  padding:  2.1875rem 0.9375rem;
}
@media screen and (max-width: 650px) {
  .contributors-list .contributor {
    border-bottom: 2px solid #333;
  }
  .contributors-list .contributor:last-of-type {
    border-bottom: none;
  }
}
.contributors-list .inside {
  padding: 0;
}
.contributors-list .contributor-avatar img {
  max-width: 110px;
  overflow: hidden;
  border-radius: 50%;
}
.contributors-list .contributor-avatar .contributor-posts-link {
  border-bottom: 0;
}
.contributors-list .contributor-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 40px;
  margin-top: 2.5rem;
}
.contributors-list .contributor-name a {
  color: inherit;
}
.contributors-list .contributor-name a:hover {
  opacity: .92;
}
@media screen and (min-width: 650px) {
  .contributors-list .contributor {
    float: left;
    display: inline-block;
    vertical-align: middle;
    border-left: 2px solid #333;
  }
  .contributors-list .one-column {
    width: 100%;
  }
  .contributors-list .two-column {
    width: 50%;
  }
  .contributors-list .three-column {
    width: 33.33333%;
  }
  .contributors-list .four-column {
    width: 25%;
  }
  .contributors-list .one-column:first-of-type,
  .contributors-list .two-column:first-of-type,
  .contributors-list .three-column:first-of-type {
    border-left: none;
  }
  .contributors-list .four-column {
    position: relative;
    bottom: -2px;
    margin-top: -2px;
    border-bottom: 2px solid #333;
  }
  .contributors-list .four-column:nth-child(4n+1) {
    border-left: none;
  }
}

.stag_widget_feature_callout {
  padding: 0 !important;
  overflow: hidden;
}
.stag_widget_feature_callout .container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
.stag_widget_feature_callout .feature-callout__title {
  font-size: 35px !important;
  font-size: 2.1875rem !important;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
.stag_widget_feature_callout .feature-callout__content {
  font-size: 20px;
  line-height: 1.8;
}
.stag_widget_feature_callout .feature-callout__cover {
  position: relative;
  padding: 90px 0;
  padding:  5.625rem 0;
  background-position: center center;
  background-size: cover;
}
.stag_widget_feature_callout .feature-callout__cover .container {
  position: relative;
  z-index: 2;
}
.stag_widget_feature_callout .feature-callout__content {
  word-break: break-word;
}
.stag_widget_feature_callout .feature-callout__cover.has-overlay:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: " ";
}
.stag_widget_feature_callout .image-pull .container {
  padding: 90px 0;
  padding:  5.625rem 0;
}
.stag_widget_feature_callout .text-right .text-container,
.stag_widget_feature_callout .text-right .unit {
  margin-left: 50%;
}
.stag_widget_feature_callout .text-right.image-pull .image-container {
  margin-left: -100%;
}
.stag_widget_feature_callout .feature-callout.text-center.image-cover {
  text-align: center;
}

.valign-top .unit {
  vertical-align: top;
}

.valign-middle .unit {
  vertical-align: middle;
}

.valign-bottom .unit {
  vertical-align: bottom;
}