/*---------------------------------------------------------
 Definition lists (_elements.scss)
-------------------------------------------------------- */
dl dt {
  margin-bottom: 0;
}
dl dd {
  margin-left: 40px;
  margin-left: 2.5rem;
}
